{% extends 'base.html' %}
{%block title%}
{{title}}
{%endblock%}
{% block user %}
{% if stage_user == "sign"%}
<ul class="dropdown-menu text-small" style="">
    <li><a class="dropdown-item" href="/user">Profile</a></li>
    <li>
        <hr class="dropdown-divider">
    </li>
    <li><a class="dropdown-item" href="/exit">Sign out</a></li>
</ul>
{%else%}
<ul class="dropdown-menu text-small" style="">
    <li><a class="dropdown-item" href="/login">sign_up</a></li>
</ul>
{% endif %}
{% endblock %}
{% block main%}
{% if musik %}

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-1">
            {% for mus in musik %}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/img/{{ mus.photo_musiks }}" class="bd-placeholder-img card-img-top" width="100%" height="225"
                         alt="Placeholder image">
                    <div class="card-body">
                        <p class="card-text">{{mus.name_musiks}}</p>
                        <audio controls>
                            <source src="/static/musik/{{ mus.file_musiks }}">
                        </audio>
                    </div>
                </div>
            </div>
            {% endfor%}
        </div>
    </div>
</div>

{%endif%}
{% endblock %}